{% extends "base/base.html" %}

{% block content %}

<!-- Проверка на наличие невыполненных задач -->
{% if not stasks %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">You have no tasks</h1>
            <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">You can always create one once you're ready!</p>
        </div>
    </div>
</section>
{% else %}
<form method='post'>
{% csrf_token %}
{{formset.management_form}}

<!-- Секция с невыполненными задачами -->
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Here is your tasks list</h1>
            <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Seems like you've got work to do today! You have {{count}} tasks to complete.</p>

        </div>

        <div class="flex flex-wrap -m-4">
            {% for form in stasks %}
            <div class="xl:w-1/3 md:w-1/2 p-4">
                <div class="border border-gray-200 p-6 rounded-lg">
                    <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                            <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                        </svg>
                    </div>
                    <h2 class="text-lg text-gray-900 font-medium title-font mb-2">
                        <a href='{% url 'base:task_detail' form.pk %}'>{{ form.title|truncatechars:15 }}</a>
                    </h2>
                    <p class="leading-relaxed text-base">{{ form.description|truncatechars:30 }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
<!--  Секция с добавлением задачи -->

{% load form_tags %}
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Add the new task right now!</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Make your own way even more productive!</p>
    </div>
    
    <form method="post">
      {% csrf_token %}
      {{ formset.management_form }}

      {% for form in formset %}
        <div class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end">
          <div class="relative flex-grow w-full">
            <label for="{{ form.title.id_for_label }}" class="leading-7 text-sm text-gray-600">{{ form.title.label }}</label>
            {{ form.title|add_class:"w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3" }} 
            {{ form.title.errors }}
          </div>
          <div class="relative flex-grow w-full">
            <label for="{{ form.description.id_for_label }}" class="leading-7 text-sm text-gray-600">{{ form.description.label }}</label>
            {{ form.description|add_class:"w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3" }} 
            {{ form.description.errors }}
          </div>
        </div>
      {% endfor %}
      
      <div class="flex justify-center mt-4">
        <button type="submit" class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Add Task</button>
      </div>
    </form>
    
  </div>
</section>

<hr/>

<!-- Секция с выполненными задачами -->
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Here is your completed tasks list</h1>
            <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Well done!</p>
        </div>

        <div class="flex flex-wrap -m-4">
            {% for task in ntasks %}
            <div class="xl:w-1/3 md:w-1/2 p-4">
                <div class="border border-gray-200 p-6 rounded-lg">
                    <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                            <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                        </svg>
                    </div>
                    <h2 class="text-lg text-gray-900 font-medium title-font mb-2">
                        <a href='{% url 'base:task_detail' task.pk %}'>{{ task.title|truncatechars:15 }}</a>
                    </h2>
                    <p class="leading-relaxed text-base">{{ task.description|truncatechars:30 }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}

{% block title %}
List of Tasks
{% endblock title %}
